<script>
$(document).ready(function () {
      $(".like").click(
          function () {
            $(this).find('i').toggleClass('fa-thumbs-up fa-thumbs-down');
            $.ajax({
                   url:'/secrets/like',
                   type:'POST',
                   dataType:'json',
                   data:{
                       secret_id: $(this).attr('id'),
                       toggle: $(this).find('i').attr('class'),
                       authenticity_token: window._token
                   },
                   success:function(data){
                       //debugger;
                   },
                   error:function(data){
                   }
               });
          });
  });
</script>

<div class="container">
<div class="row">
<div class="text-center col-md-6 col-md-offset-3">

<h1>Secrets#index</h1>
<p>Find me in app/views/secrets/index.html.erb</p>
      <% if flash[:errors] %>
      <%= flash[:errors] %>
      <% end %>

      <table class="table">
      <thead>
      <tr>
        <th>User Name</th>
        <th>Secret</th>
      </tr>
      </thead>
      <tbody>
      <% @secrets.each do |secret| %>
              <tr class="success">
                  <td><%= secret.content %></td>
                  <td><% if secret.user == current_user %>
                                      <form action="/secrets/<%= secret.id %>" method="post">
                                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                                        <input type="hidden" name="_method" value="delete" />
                                      <input type="submit" value="delete"/>
                                      </form>
                        <% end %>
                    </td>
                  <td>
                  <!--  <a id="like"> <i class="fa fa-thumbs-up" aria-hidden="true"></i> </a> -->
                    <button id="<%= secret.id  %>" class="like">
                      <%  @like = Like.where("user_id=#{current_user.id} and secret_id=#{secret.id}") %>
                      <%     if @like.present? %>
                      <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                      <%     else %>
                      <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                      <%     end %>
                      <!-- <i class="fa fa-thumbs-up" aria-hidden="true"></i> -->
                    </button>

                  </td>
              </tr>
      <% end %>
    </tbody>
    </table>

</div>
</div>
</div>
