<%= include_gon %>

<table class="table table-striped">
    <tbody>
      <% @result.each do |location| %>
      <tr>
        <td> <%= location["address"] %> </td>
        <%  location["weather"].each do |day| %>
          <td> <p class="time"> <%= Time.at(day.time).strftime('%A') %> </p>
               <p class="summary"> <%= day.summary %> </p>
               High: <%= day.apparentTemperatureMax %> | Low: <%= day.apparentTemperatureMin %>                        <br/>
          </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
